<template>
  <div>
    <card :title="$t('etudiants_du_programme')">
    {{$t("Programme")}} {{programme}}
    </card>
    <b-container fluid>
      <b-row>
        <b-col lg="2" class="my-1">
          {{$t('importer_fichier')}}
        </b-col>
        <b-col lg="6" class="my-1">
          <b-form-file
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.oasis.opendocument.spreadsheet"
            v-model="fichier"
            :placeholder="$t('Choisir_fichier_ou_deposer')"
            :drop-placeholder="$t('Déposer_un_fichier_ici')"
            :browse-text="$t('Naviguer')"
          ></b-form-file>
        </b-col>
        <b-col lg="2" class="my-1">
          <b-button :disabled="!fichierFourni" :title="$t('Importer')" @click="importerFichierEtudiants()">
            {{$t('Importer')}}
          </b-button>
        </b-col>
        <b-col lg="2" class="my-1">
          <b-button :title="$t('Example_xlsx')" @click="telecharcherExempleXlsx()">
            {{$t('Example_xlsx')}}
          </b-button>
        </b-col>
      </b-row>
    </b-container>
    <table-generic
      :url-chargement="urlEtudiantsProgramme"
      :url-effacement="urlEffacement"
      :fields="etudiants.fields"
      texte-ajouter=""
      :modal-id="etudiants.modalid"
      :table-caption="etudiants.tableCaption"
      :permetEditer="false"
      :permetEffacer="true"
      :permetAjouter="false"
      ref="etudiants"
      :selectable="false"
      select-mode="range"
    >
    </table-generic>
    <!-- erreurs modal -->
    <b-modal :id="erreursModal.id" :title="erreursModal.title" ok-only  >
      <pre v-for= "erreur in erreursModal.content">
        {{ erreur[0] }}
      </pre>
    </b-modal>
  </div>
</template>

<script>
import TableGeneric from '../helpers/tableGeneric'
import axios from 'axios'

import { mapGetters } from 'vuex'

export default {

  data () {
    return {
      supervisionsSelectionnes: [],
      programmesSelectionnes: [],
      fichier: null,
      etudiants: {
        modalid: 'modal-etudiants',
        tableCaption: this.$tc('Étudiant', 2),
        fields: [
          { key: 'etudiant.role.numero', label: this.$t('numéro_etudiant'), sortable: true, class: 'text-left' },
          { key: 'etudiant.prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
          { key: 'etudiant.name', label: this.$t('name'), sortable: true, class: 'text-left' },
          { key: 'actions', label: this.$tc('Action', 2) }

        ]
      },
      erreursModal: {
        id: 'modal-erreurs',
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
      sessionCourante: 'sessionScholaire/sessionCourante'
    }),
    programme () { return this.user ? this.user.role.programme_nom : '' },
    programmeId () { return this.user ? this.user.role.programme_id : '' },
    urlEtudiantsProgramme () { return '/api/superviseur/programme/etudiants/'.concat(this.sessionCourante.id) },
    urlEffacement () { return '/api/superviseur/etudiantSession/delete/' },
    fichierFourni () { return this.fichier != null }
  },

  mounted () {
  },
  methods: {
    rafraichirPage () {
      this.fichier = null
      this.$refs.etudiants.charger()
    },
    ajouterEtudiant () {
      // <<<<< switch a la page de création d'étudiant par un superviseur
      // on le fait tu, ou simplement permettre a l'étudiant de s'inscrire lui même ???
    },
    async importerFichierEtudiants () {
      const formData = new FormData()
      formData.append('fichier', this.fichier, this.fichier.name)
      formData.append('sessionId', this.sessionCourante.id)
      formData.append('programmeId', this.programmeId)
      try {
        await axios.post('/api/superviseur/importerFichierEtudiant', formData)
      } catch (e) {
        this.afficherErreursModal(e.response.data.errors)
      }
      this.rafraichirPage()
    },
    afficherErreursModal (items) {
      this.erreursModal.title = this.$t('Erreurs_importation')
      this.erreursModal.content = items
      this.$root.$emit('bv::show::modal', this.erreursModal.id)
    },
    async telecharcherExempleXlsx () {
      const { data } = await axios.get('exemple_liste_etudiants.xlsx', { responseType: 'blob' })
      var fileURL = window.URL.createObjectURL(new Blob([data], {
        type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'
      }))
      var fileLink = document.createElement('a')
      fileLink.href = fileURL
      fileLink.setAttribute('download', 'liste_etudiants.xlsx')
      document.body.appendChild(fileLink)
      fileLink.click()
    }
  },
  metaInfo () {
    return { title: this.$t('etudiants_du_programme') }
  },
  components: {
    TableGeneric
  }
}
</script>
