<template>
  <div>
    <card :title="$t('liste_de_supervision')">
    {{$t("Programme")}} {{programme}}
    </card>
    <table-generic
      :url-chargement="urlEtudiantSupervision"
      url-effacement=""
      :fields="etudiantSupervision.fields"
      texte-ajouter=""
      :modal-id="etudiantSupervision.modalid"
      :table-caption="etudiantSupervision.tableCaption"
      @rowSelected="supervisionSelected"
      :permetEditer="false"
      :permetEffacer="false"
      :permetAjouter="false"
      ref="supervision"
      :selectable="true"
      select-mode="range"
    >
    </table-generic>
    <b-container class="bv-example-row">
      <b-row>
        <b-col></b-col>
        <b-col>
          <b-button-toolbar key-nav aria-label="Toolbar with button groups">
            <b-button-group class="mx-1">
              <b-button :disabled="supervisionAprogramme" @click="enleverSupervision">
                <b-icon icon="chevron-down" aria-hidden="true"></b-icon>
              </b-button>
            </b-button-group>
            <b-button-group class="mx-1">
              <b-button :disabled="programmeAsupervision" @click="ajouterSupervision">
                <b-icon icon="chevron-up" aria-hidden="true"></b-icon>
              </b-button>
            </b-button-group>
          </b-button-toolbar>
        </b-col>
        <b-col></b-col>
      </b-row>
    </b-container>

    <table-generic
      :url-chargement="urlEtudiantProgramme"
      url-effacement=""
      :fields="etudiantProgramme.fields"
      texte-ajouter=""
      :modal-id="etudiantProgramme.modalid"
      :table-caption="etudiantProgramme.tableCaption"
      @rowSelected="programmeSelected"
      :permetEditer="false"
      :permetEffacer="false"
      :permetAjouter="false"
      ref="programme"
      :selectable="true"
      select-mode="range"
    >
    </table-generic>
  </div>
</template>

<script>
import TableGeneric from '../helpers/tableGeneric'
import axios from 'axios'

import { mapGetters } from 'vuex'

export default {
// TODO ajouter la session  <<<<<<<<<<<<

  data () {
    return {
      supervisionsSelectionnes: [],
      etudiantsSessionProgrammeSelectionnes: [],
      etudiantSupervision: {
        modalid: 'modal-supervision',
        tableCaption: this.$t('Étudiants_supervision'),
        fields: [
          { key: 'etudiant.role.numero', label: this.$t('numéro_etudiant'), sortable: true, class: 'text-left' },
          { key: 'etudiant.prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
          { key: 'etudiant.name', label: this.$t('name'), sortable: true, class: 'text-left' },

        ]
      },
      etudiantProgramme: {
        modalid: 'modal-programme',
        tableCaption: this.$t('Étudiants_programme'),
        fields: [
          { key: 'etudiant.role.numero', label: this.$t('numéro_etudiant'), sortable: true, class: 'text-left' },
          { key: 'etudiant.prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
          { key: 'etudiant.name', label: this.$t('name'), sortable: true, class: 'text-left' },

        ]
      }
    }
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
      sessionCourante: 'sessionScholaire/sessionCourante'
    }),
    programme () { return this.user ? this.user.role.programme_nom : '' },
    urlEtudiantSupervision () { return '/api/superviseur/etudiantsSessionSupervision/'.concat(this.sessionCourante.id) },
    urlEtudiantProgramme () { return '/api/superviseur/etudiantsSessionProgrammeNonSupervises/'.concat(this.sessionCourante.id) },
    supervisionAprogramme () { return this.supervisionsSelectionnes.length === 0 },
    programmeAsupervision () { return this.etudiantsSessionProgrammeSelectionnes.length === 0 }
  },

  mounted () {
  },
  methods: {
    supervisionSelected (items) {
      this.supervisionsSelectionnes = items
    },
    programmeSelected (items) {
      this.etudiantsSessionProgrammeSelectionnes = items
    },
    rafraichirPage () {
      this.$refs.supervision.charger()
      this.$refs.programme.charger()
    },
    async ajouterSupervision () {
      await axios.post('/api/superviseur/ajouterSupervision', {
        etudiantsSessionIds: this.etudiantsSessionProgrammeSelectionnes
      })
      this.rafraichirPage()
      this.etudiantsSessionProgrammeSelectionnes = []
    },
    async enleverSupervision () {
      await axios.post('/api/superviseur/enleverSupervision', {
        etudiantsSessionIds: this.supervisionsSelectionnes
      })
      this.rafraichirPage()
      this.supervisionsSelectionnes = []
    }
  },
  metaInfo () {
    return { title: this.$t('liste_de_supervision') }
  },
  components: {
    TableGeneric
  }
}
</script>
