<template>
  <div>
    <table-generic
      :url-chargement="urlContactsNonApprouves"
      :fields="fields"
      :itemstemplate="itemsTemplate"
      texte-ajouter=""
      :modal-id="modalid"
      :table-caption="tableCaption"
      :permetEditer="false"
      :permetEffacer="false"
      :permetAjouter="false"
      ref="contactsNonApprouves"
      :selectable="false"
    >
      <template v-slot:slotBoutonApprouver="row">
        <b-col sm="1">
          <b-button :title="$t('Approuver')"  @click="approuver(row.info.item, row.info.index, $event.target)">
            <b-icon icon="check" aria-hidden="true"></b-icon>
          </b-button>
        </b-col>
      </template>
    </table-generic>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
import tableGeneric from '../helpers/tableGeneric'
import axios from 'axios'
export default {
  name: 'SuperviseurGestionContacts',
  data () {
    return {
      modalid: 'modal-contactNonApprouves',
      tableCaption: this.$t('contacts_non_approuves'),
      itemsTemplate: [
        { key: 'boutonApprouver', slotName: 'slotBoutonApprouver' }
      ],
      fields: [
        { key: 'prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
        { key: 'name', label: this.$t('name'), sortable: true, class: 'text-left' },
        { key: 'telephone', lable: this.$t('telephone'), sortable: false, clas: 'text-left' },
        { key: 'role.fonction', label: this.$t('rôle'), sortable: false, class: 'text-left' },
        { key: 'role.entreprise.nom', label: this.$t('Entreprise'), sortable: true, class: 'text-left' },
        { key: 'role.entreprise.telephone', label: this.$t('telephone'), sortable: false, clas: 'text-left' },
        { key: 'boutonApprouver', label: this.$t('Approuver'), sortable: false }
      ],
      urlContactsNonApprouves: '/api/superviseur/contactsNonApprouves'
    }
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
    }),
  },
  methods: {
    async approuver (item, index, button) {
      await axios.put('/api/superviseur/approuverContact/'.concat(item.role.id))
      this.$refs.contactsNonApprouves.charger()
    }
  },
  components: {
    tableGeneric
  }
}
</script>
