<template>
  <div>
    <card :title="$t('liste_de_supervision')">
      {{$t("Programme")}} {{programme}}
    </card>
    <b-form-select v-model="idSessionSelectedPourFiltre"
                   :options="sessionsPourFiltre"
                   value-field="id"
                   text-field="nom"
    >
    </b-form-select>
    <table-de-supervision
      :url-chargement="urlEtudiantSupervision"
      ref="supervision"
      >
    </table-de-supervision>
  </div>
</template>

<script>
import TableDeSupervision from './tableDeSupervision'

import { mapGetters } from 'vuex'

export default {
  name: 'SuperviseurHome',
  data () {
    return {
      sessionActive: '',
      idSessionSelectedPourFiltre: '',
      sessionsPourFiltre: this.$store.getters['sessionScholaire/sessionsScholaires']
    }
  },
  computed: {
    ...mapGetters({
      user: 'auth/user',
      sessionCourante: 'sessionScholaire/sessionCourante'
    }),
    programme () { return this.user ? this.user.role.programme_nom : '' },
    urlEtudiantSupervision () { return '/api/superviseur/etudiantsSessionSupervisionAvecOffres/'.concat(this.idSessionSelectedPourFiltre) }
  },

  created () {
    this.idSessionSelectedPourFiltre = this.sessionCourante.id
  },
  methods: {
  },
  metaInfo () {
    return { title: this.$t('Supervision') }
  },
  components: {
    TableDeSupervision
  }
}
</script>
