<template>

      <transition name="fade" mode="out-in">
        <router-view />
      </transition>

</template>

<script>
export default {
  middleware: ['auth', 'superviseur'],
  computed: {
    navbarOptions () {
      return [
        {
          route: 'superviseur.home',
          nom: this.$t('go_home'),
          icon: 'home'
        },
        {
          route: 'superviseur.gestionSupervision',
          nom: this.$t('liste_de_supervision'),
          icon: 'users'
        },
        {
          route: 'superviseur.etudiantsProgramme',
          nom: this.$t('etudiants_du_programme'),
          icon: 'user-graduate'
        },
        {
          route: 'superviseur.gestionContacts',
          nom: this.$t('gestion_contacts'),
          icon: 'address-book'
        }
      ]
    }
  },

  mounted () {
    this.$store.dispatch('auth/setNavbarOptions', {
      options: this.navbarOptions
    })
  },
  metaInfo () {
    return { title: this.$t('Superviseur') }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
