<template>
  <table-generic
    :url-chargement="urlChargementLocal"
    url-effacement=""
    :fields="fields"
    texte-ajouter=""
    modal-id="modal_supervision"
    :table-caption="$t('Étudiants_supervision')"
    :permetEditer= false
    :permetEffacer=false
    :permetAjouter=false
    ref="supervision"
    :selectable=false
    select-mode="single"
    :itemstemplate="itemstemplate"
  >
    <template v-slot:slotnom="row">
      {{ row.info.etudiant.name}}
    </template>

    <!-- Détails des offres de l'étudiant -->
    <template v-slot:rowDetails="row">
      <b-container v-for= "(applicationEtOffre, key) in row.info.applications" :key="key">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" lg="3" class="text-sm-right"><b>{{ $t('Entreprise') }}</b></b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.offre.contact.entreprise}}</b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.offre.contact.prenom}} {{applicationEtOffre.offre.contact.name}}</b-col>
          </b-row>
          <b-row>
            <b-col sm="3" lg="3" class="text-sm-right"><b>{{ $tc('Offre',1) }}</b></b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.offre.titre}}</b-col>
            <b-col sm="1" lg="1">
              <afficher-contenu-tiptap
                :texte="applicationEtOffre.offre.description"
                :id="applicationEtOffre.offre.id">
              </afficher-contenu-tiptap>
            </b-col>
            <b-col sm="1" lg="1">
              <telecharger-pdf
                v-if="applicationEtOffre.offre.nomFichier"
                :titre="applicationEtOffre.offre.nomFichier"
                url="/api/offre/pdf/"
                :id="applicationEtOffre.offre.id"
                :nom-fichier="applicationEtOffre.offre.nomFichier"
              />
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="3" lg="3" class="text-sm-right"><b>{{ $t('Note')}} {{ $t('Superviseur') }}</b></b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.application.note.superviseur}}</b-col>
            <b-col sm="1" lg="1">
              <modifier-note
                :titre="$t('Modifier_note')"
                url="/api/superviseur/modifierNoteApplication"
                :item="applicationEtOffre"
                :id="applicationEtOffre.application.id"
                :note="applicationEtOffre.application.note.superviseur"
                @noteModifiee="majNote"
              ></modifier-note>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="3" lg="3" class="text-sm-right"><b>{{ $tc('CV',1) }}</b></b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.application.cv.description}}</b-col>
            <b-col sm="1" lg="1">
              <telecharger-pdf
                :titre="applicationEtOffre.application.cv.nomFichier"
                url="/api/cv/"
                :id="applicationEtOffre.application.cv.id"
                :nom-fichier="applicationEtOffre.application.cv.nomFichier"
              ></telecharger-pdf>
            </b-col>
          </b-row>
          <b-row>
            <b-col sm="3" lg="3" class="text-sm-right"><b>{{ $t('Lettre') }}</b></b-col>
            <b-col sm="3" lg="3">{{applicationEtOffre.application.lettre.description}}</b-col>
            <b-col sm="1" lg="1">
              <telecharger-pdf
                :titre="applicationEtOffre.application.lettre.nomFichier"
                url="/api/lettre/pdf/"
                :id="applicationEtOffre.application.lettre.id"
                :nom-fichier="applicationEtOffre.application.lettre.nomFichier"
              ></telecharger-pdf>
            </b-col>
          </b-row>
        </b-card>
      </b-container>
    </template>
    <template  v-slot:slotBoutonDetail="row">
      <b-button size="sm" @click="row.info.toggleDetails" class="mr-2" :disabled="row.info.item.applications.length === 0">
        {{row.info.item.applications.length}} {{ $tc('Application', row.info.item.applications.length) }}
      </b-button>
    </template>
  </table-generic>
</template>

<script>
import TableGeneric from '../helpers/tableGeneric'
import telechargerPdf from '../helpers/telechargerPdf'
import ModifierNote from '../helpers/modifierNote'
import AfficherContenuTiptap from '../helpers/afficherContenuTiptap'

export default {
  props: {
    'urlChargement': String
  },
  data () {
    return {
      itemstemplate: [
        { key: 'nom', slotName: 'slotNom' },
        { key: 'show_details', slotName: 'slotBoutonDetail' }
      ],
      fields: [
        { key: 'etudiant.role.numero', label: this.$t('numéro_etudiant'), sortable: true, class: 'text-left' },
        { key: 'etudiant.prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
        { key: 'etudiant.name', label: this.$t('name'), sortable: true, class: 'text-left' },
        { key: 'show_details', label: this.$tc('Application', 2) }
      ]
    }
  },
  computed: {
    urlChargementLocal () {
      return this.urlChargement
    }
  },
  methods: {
    charger () {
      this.$refs.supervision.charger()
    },
    majNote (item, note) {
      // TODO trouver une facon de changer juste le champs au lieu de tout reloader
      this.$refs.supervision.charger()
    }
  },
  components: {
    ModifierNote,
    AfficherContenuTiptap,
    TableGeneric,
    telechargerPdf,
  }
}
</script>
