<template>
  <div>
    <b-container fluid>
      <!-- Main table element -->
      <table-application-etudiant ref="application" @applicationEffacee="rafraichirPage" />
      <b-row class="text-center">
        <b-col>
          {{ $t('instructions_application') }}
          <b-button size="sm" class="mr-2" :disabled="!pretPourAppliquer" @click="appliquer">
            {{ $t('appliquez') }}
          </b-button>
        </b-col>
      </b-row>
      <table-offre-etudiant ref="offre" @rowSelected="offresSelected" />
      <table-document-pdf
        @rowSelected="cvSelected"
        :texte-ajouter="$t('cv_ajouter')"
        modal-id="modalCv"
        ref="cvs"
        type="cv"
        :caption="$tc('CV',2)"
      ></table-document-pdf>

      <table-document-pdf
        @rowSelected="lettreSelected"
        :texte-ajouter="$t('lettre_ajouter')"
        modal-id="modalLettre"
        ref="lettres"
        type="lettre"
        :caption="$tc('Lettre_de_présentation',2)"
      ></table-document-pdf>

    </b-container>
  </div>
</template>

<script>

import TableDocumentPdf from '../helpers/tableDocumentPdf'
import TableApplicationEtudiant from './tableApplicationEtudiant'
import TableOffreEtudiant from './tableOffreEtudiant'
import axios from 'axios'
export default {
  components: {
    TableDocumentPdf,
    TableApplicationEtudiant,
    TableOffreEtudiant,
  },

  data () {
    return {
      OffresSelectionnees: [],
      CVSelectionne: '',
      LettreSelectionnee: '',
    }
  },
  computed: {

    pretPourAppliquer () {
      return (this.CVSelectionne !== '' &&
              this.LettreSelectionnee !== '' &&
              this.OffresSelectionnees.length !== 0
      )
    }
  },
  methods: {
    cvSelected (id) {
      this.CVSelectionne = id
    },
    lettreSelected (id) {
      this.LettreSelectionnee = id
    },
    offresSelected (ids) {
      this.OffresSelectionnees = ids
    },
    rafraichirPage () {
      this.$refs.application.charger()
      this.$refs.offre.charger()
      this.$refs.cvs.charger()
      this.$refs.lettres.charger()
    },
    async appliquer () {
      await axios.post('/api/etudiant/appliquer', {
        //TODO si l'offre est effacée, on recoit une 422. Faudrait afficher un msg
        cvId: this.CVSelectionne,
        lettreId: this.LettreSelectionnee,
        offresIds: this.OffresSelectionnees
      })
      this.rafraichirPage()
      this.OffresSelectionnees = []
    }
  }

}
</script>
