<template>

      <transition name="fade" mode="out-in">
        <router-view />
      </transition>

</template>

<script>
export default {
  middleware: ['auth', 'etudiant'],
  computed: {
    navbarOptions () {
      return [{
        route: 'etudiant.home',
        nom: this.$t('go_home'),
        icon: 'home'
      }
      ]
    }
  },

  mounted () {
    this.$store.dispatch('auth/setNavbarOptions', {
      options: this.navbarOptions
    })
  },
  metaInfo () {
    return { title: this.$tc('Étudiant', 1) }
  }
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
