<template>
  <div>
    <b-table
      show-empty
      small
      sticky-header="300px"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      sort-icon-left
      :busy="isBusy"
      :empty-text="$t('table_vide')"
      @filtered="onFiltered"
      caption-top
    >
      <template v-slot:cell(show_details)="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2">
          {{ row.detailsShowing ? $t('Hide') : $t('Show')}} {{ $t('Détails') }}
        </b-button>
      </template>
      <template v-slot:row-details="row">
        <b-card>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>{{ $t('Contact') }}</b></b-col>
            <b-col>{{ row.item.offre.contact.prenom }} {{ row.item.offre.contact.name }} </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>{{ $t('Description') }}</b></b-col>
            <afficher-contenu-tiptap
              :texte="row.item.offre.description"
              :id="row.item.offre.id"
            />
            <telecharger-pdf
              v-if="row.item.offre.nomFichier"
              :titre="row.item.offre.nomFichier"
              url="/api/offre/pdf/"
              :id="row.item.offre.id"
              :nom-fichier="row.item.offre.nomFichier"
            />
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>{{ $t('Début_fin') }}</b></b-col>
            <b-col>{{ row.item.offre.debut }} / {{ row.item.offre.fin }}</b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>{{ $tc('CV',1) }}</b></b-col>
            <telecharger-pdf
              :titre="row.item.application.cv.nomFichier"
              url="/api/cv/pdf/"
              :id="row.item.application.cv.id"
              :nom-fichier="row.item.application.cv.nomFichier"
            />
            <b-col> {{ row.item.application.cv.description }}</b-col>

          </b-row>

          <b-row class="mb-2">
            <b-col sm="3" class="text-sm-right"><b>{{ $t('Lettre') }}</b></b-col>
            <telecharger-pdf
              :titre="row.item.application.lettre.nomFichier"
              url="/api/lettre/pdf/"
              :id="row.item.application.lettre.id"
              :nom-fichier="row.item.application.lettre.nomFichier"
            />
            <b-col> {{ row.item.application.lettre.description }}</b-col>
          </b-row>

        </b-card>
      </template>

      <template v-slot:table-caption>{{ tableCaption }}</template>
      <template v-slot:cell(actions)="row">
        <b-button-toolbar>
          <b-button-group class="mr-1">
            <b-button :title="$t('Effacer')" @click="confirmerEffacer(row.item, row.index, $event.target)">
              <b-icon icon="trash" aria-hidden="true"></b-icon>
            </b-button>
            <b-button :title="$t('Commentaire')" @click="modifierNote(row.item, row.index, $event.target)">
              <b-icon icon="chat-dots" aria-hidden="true"></b-icon>
            </b-button>
          </b-button-group>
        </b-button-toolbar>
      </template>
      <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>{{ $t('Chargement') }}</strong>
        </div>
      </template>
    </b-table>
    <!-- delete modal -->
    <b-modal :id="deleteModal.id" :title="deleteModal.title" @hide="resetDeleteModal" @ok="effacer">
      <pre>{{ deleteModal.content }}</pre>
    </b-modal>
    <!-- note modal -->
    <b-modal :id="noteModal.id" :title="noteModal.title" @hide="resetNoteModal" @ok="changerNote">
      <b-form-textarea rows="1" max-rows="4" v-model="noteModal.content" :placeholder="$t('note_placeholder')"></b-form-textarea>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import afficherContenuTiptap from '../helpers/afficherContenuTiptap'
import telechargerPdf from '../helpers/telechargerPdf'
export default {
  name: 'TableApplicationEtudiant',
  data () {
    return {
      items: [],
      isBusy: true,
      totalRows: 1,
      currentPage: 1,
      perPage: 0,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      deleteModal: {
        id: 'modal-application-delete',
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      },
      noteModal: {
        id: 'modal-application-note',
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      },
      urlChargement: '/api/etudiant/applications/',
      urlEffacement: '/api/etudiant/application/delete/',
      urlChangerNote: '/api/etudiant/application/note/',
      fields: [
        { key: 'offre.contact.entreprise', label: this.$t('Entreprise'), sortable: true, sortDirection: 'desc' },
        { key: 'offre.titre', label: this.$t('Titre'), sortable: true, class: 'text-left' },
        { key: 'offre.etat', label: this.$t('État'), sortable: true, class: 'text-left' },
        { key: 'show_details', label: this.$t('Détails') },
        { key: 'application.note.etudiant',
          label: this.$t('Commentaire'),
          class: 'text-left',
          formatter: value => {
            return value ? value.substr(0, 50) : ''
          } },
        { key: 'actions', label: this.$tc('Action', 2) }
      ]
    }
  },
  mounted () {
    this.totalRows = this.items.length
    this.charger()
  },
  computed: {
    tableCaption: function () {
      return this.$tc('Application', this.items.length)
    },
  },
  methods: {

    // ======= Gestion des items =======
    async charger () {
      this.isBusy = true
      try {
        const { data } = await axios.get(this.urlChargement)
        this.items = data
      } catch (err) {
        console.log(err)
      }
      this.isBusy = false
    },
    confirmerEffacer (item, index, button) {
      this.deleteModal.title = this.$t('ConfirmerEffacer')
      this.deleteModal.content = item.offre.titre
      this.deleteModal.itemId = item.application.id
      this.deleteModal.itemIndex = index
      this.$root.$emit('bv::show::modal', this.deleteModal.id, button)
    },
    modifierNote (item, index, button) {
      this.noteModal.title = this.$t('Modifier_note')
      this.noteModal.content = item.application.note.etudiant
      this.noteModal.itemId = item.application.id
      this.noteModal.itemIndex = index
      this.$root.$emit('bv::show::modal', this.noteModal.id, button)
    },
    ajouter () {
      // TODO appeler la page de création
    },
    async effacer  () {
      await axios.delete(this.urlEffacement.concat(this.deleteModal.itemId))
      this.items.splice(this.deleteModal.itemIndex, 1)
      this.$emit('applicationEffacee')
    },
    changerNote: async function () {
      let noteTemp = this.noteModal.content
      try {
        await axios.post(this.urlChangerNote, {
          applicationId: this.noteModal.itemId,
          noteEtudiant: this.noteModal.content
        })
        // je sais pas pourquoi, mais noteModal.content est flushé rendu ici ???
        // c'est pour ca que j'ai noteTemp
        this.items[this.noteModal.itemIndex].application.note.etudiant = noteTemp
      } catch (e) {
        // fixme: ajouter un vform dans le modal et gérer l'erreur correctement.
        //  Pour l'instant si on entre >1000 char, ca va planter silencieusement
        console.log(e.response.data.errors.noteEtudiant[0])
      }
      this.resetNoteModal()
    },
    resetDeleteModal () {
      this.deleteModal.title = ''
      this.deleteModal.content = ''
    },
    resetNoteModal () {
      this.noteModal.title = ''
      this.noteModal.content = ''
    },

    // ======= Gestion des filtres =======
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },

    onRowSelected (items) {
      let info = ''
      if (items.length !== 0) {
        info = items[0].application.id
      }
      this.$emit('rowSelected', info)
    }
  },
  components: {
    afficherContenuTiptap,
    telechargerPdf
  }

}
</script>
