<template>
  <div>
    <b-table
      selectable
      :select-mode="selectMode"
      @row-selected="onRowSelected"
      show-empty
      small
      sticky-header="750px"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      sort-icon-left
      :busy="isBusy"
      :empty-text="$t('Aucune_offres')"
      @filtered="onFiltered"
      caption-top
    >
      <template v-slot:cell(show_details)="row">
        <b-button size="sm" @click="row.toggleDetails" class="mr-2">
          {{ row.detailsShowing ? $t('Hide') : $t('Show')}} {{ $t('Détails') }}
        </b-button>
      </template>
      <template v-slot:row-details="row">
        <b-card>
          <b-row class="mb-2">
            <b-col lg="1" class="text-sm-right"><b>{{ $t('Contact') }}</b></b-col>
            <b-col lg="3" class="text-sm-left">
              {{ row.item.contact.prenom}} {{ row.item.contact.name }}
            </b-col>
          </b-row>
          <b-row class="mb-2">
            <b-col lg="1" class="text-sm-right"><b>{{ $t('Description') }}</b></b-col>
            <afficher-contenu-tiptap
              :texte="row.item.description"
              :id="row.item.id"
            />
            <telecharger-pdf
              v-if="row.item.nomFichier"
              :titre="row.item.nomFichier"
              url="/api/offre/pdf/"
              :id="row.item.id"
              :nom-fichier="row.item.nomFichier"
            />
          </b-row>
          <b-row class="mb-2">

            <b-col lg="1" class="text-sm-right">{{ row.item.session}}</b-col>
            <b-col lg="3">{{ row.item.debut }} / {{ row.item.fin }}</b-col>
          </b-row>
        </b-card>
      </template>

      <template v-slot:table-caption>{{ tableCaption }}</template>
      <template v-slot:cell(etudiant)="row">
        {{ row.value.prenom }} {{ row.value.name }}
      </template>
      <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>{{ $t('Chargement') }}</strong>
        </div>
      </template>
    </b-table>

  </div>
</template>

<script>
import axios from 'axios'
import afficherContenuTiptap from '../helpers/afficherContenuTiptap'
import telechargerPdf from '../helpers/telechargerPdf'
export default {
  name: 'TableOffreEtudiant',
  data () {
    return {
      items: [],
      isBusy: true,
      totalRows: 1,
      currentPage: 1,
      perPage: 0,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      deleteModal: {
        id: this.modalId,
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      },
      selectMode: 'multi',
      urlChargement: '/api/etudiant/offres/',
      fields: [
        { key: 'contact.entreprise', label: this.$t('Entreprise'), sortable: true, sortDirection: 'desc' },
        { key: 'titre', label: this.$t('Titre'), sortable: true, class: 'text-left' },
        { key: 'etat', label: this.$t('État'), sortable: true, class: 'text-left' },
        { key: 'show_details', label: this.$t('Détails') },
      ],
      sessionSelectedPourFiltre: this.$store.getters['sessionScholaire/sessionCourante'].id,
      sessionsPourFiltre: this.$store.getters['sessionScholaire/sessionsScholaires']
    }
  },
  mounted () {
    this.totalRows = this.items.length
    this.charger()
  },
  computed: {
    tableCaption: function () {
      return this.$tc('Offre', this.items.length)
    }
  },
  methods: {

    // ======= Gestion des items =======
    async charger () {
      this.isBusy = true
      try {
        const { data } = await axios.get(this.urlChargement.concat(this.sessionSelectedPourFiltre))
        this.items = data
      } catch (err) {
        console.log(err)
      }
      this.isBusy = false
    },
    ajouter () {
      // TODO appeler la page de création
    },

    // ======= Gestion des filtres =======
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },

    onRowSelected (items) {
      let ids = items.map(i => i.id)
      this.$emit('rowSelected', ids)
    }
  },
  components: {
    afficherContenuTiptap,
    telechargerPdf
  }
}
</script>
