<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in') }}
  </card>
</template>

<script>

export default {
  // ne devrait pas se rendre ici, à part si on entre un url manuellement auquel on a pas accès
  // TODO remplacer par une page indiquant qu'on a pas d'affaire ici.
  middleware: 'auth',
  computed: {
    usager () {
      return this.$store.getters['auth/user'].role
    }
  },
  metaInfo () {
    return { title: this.$t('home') }
  }
}
</script>
