<template>
  <card :title="$t('home')">
    {{ $t('you_are_logged_in') }}
    {{ permission}}
    <p>admin</p>
  </card>
</template>

<script>

export default {
  middleware: ['auth', 'admin'],
  computed: {
    permission () {
      return this.$store.getters['auth/permission']
    },
    optionsMenu () {
      return []
    }
  },
  metaInfo () {
    return { title: this.$t('home') }
  },
  mounted () {
    this.$store.dispatch('auth/setMenuOptions', {
      options: this.optionsMenu
    })
  }
}
</script>
