<template>
  <div>
    <b-button :title="$t('Description')" @click="afficher">
      <b-icon icon="eye" aria-hidden="true"></b-icon>
    </b-button>
    <b-modal :id="modalId" ok-only :title="$t('Offre_detail')" >
      <tiptap-editor :value="texte"  :editable="false"></tiptap-editor>
    </b-modal>
  </div>
</template>

<script>

import TiptapEditor from '../../components/TiptapEditor'
export default {
  name: 'AfficherContenuTiptap',
  props: {
    texte: String,
    id: Number
  },
  data () {
    return {
      modalId: 'modal-contenu-tiptap'.concat(this.id),
    }
  },

  methods: {
    afficher () {
      this.$root.$emit('bv::show::modal', this.modalId)
    },
  },
  components: {
    TiptapEditor
  }
}

</script>
