<template>
  <b-modal :title="title" v-model="modalShow" :id="id" hide-footer size="lg" no-close-on-backdrop>
    <b-form @submit.prevent="ajouter" validated>
      <b-form-group
        id="input-description"
        :label= "$t('Description')"
        label-for="description"
        :description="$t('info_input_description')"
      >
        <b-form-input
          id="description"
          v-model="description"
          type="text"
          required
          :placeholder="$t('entrer_description')">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="input-fichier"
        :label= "$t('PDF')"
        label-for="fichier"
      >
          <b-form-file
            accept="application/pdf"
            v-model="fichier"
            :placeholder="$t('Choisir_fichier_ou_deposer')"
            :drop-placeholder="$t('Déposer_un_fichier_ici')"
            :browse-text="$t('Naviguer')"
            required
          ></b-form-file>
      </b-form-group>
      <div>
        <b-button :title="$t('cancel')" @click="fermer">
          {{$t('cancel')}}
        </b-button>
        <b-button type="submit" :title="$t('ok')"  variant="success">
          {{$t('ok')}}
        </b-button>
      </div>
    </b-form>
  </b-modal>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    'title': String,
    'id': String,
    'url': String
  },
  data () {
    return {
      modalShow: false,
      description: '',
      fichier: null
    }
  },
  mounted () {
    this.description = ''
    this.fichier = null
  },
  methods: {
    async ajouter () {
      const formData = new FormData()
      formData.append('fichier', this.fichier, this.fichier.name)
      formData.append('description', this.description)
      try {
        await axios.post(this.url, formData)
        this.description = ''
        this.$emit('ajoute')
      } catch (e) {
        console.log(e.response.data.errors)
      } finally {
        this.$bvModal.hide(this.id)
      }
    },
    fermer () {
      this.$bvModal.hide(this.id)
    }
  }
}
</script>
