// bouton ouvrant un modal permettant de modifier une note (ou commentaire)
// Emet "noteModifiee" pour indiquer que la note à bel et bien été modifiée

<template>
  <div>
    <b-button :title="$t('Commentaire')" @click="modifierNote">
      <b-icon icon="chat-dots" aria-hidden="true"></b-icon>
    </b-button>
    <b-modal :id="modalId" :title="titre" @hide="resetModal" @ok="changerNote">
      <b-form-textarea rows="1" max-rows="4" v-model="noteLocal" :placeholder="$t('note_placeholder')"></b-form-textarea>
    </b-modal>
  </div>
</template>

<script>

import axios from 'axios'
export default {
  name: 'ModifierNote',
  props: {
    titre: String,
    url: String,  // l'url pour sauvegarder la note.
    item: Object, // l'item dans la b-table contenenant la note.
    id: Number, // l'id de la resource (ex: une application) contenant la note à modifier
    note: String // la valeur actuelle de la note.
  },
  data () {
    return {
      modalId: 'modal-note-modif'.concat(this.id),
      noteLocal: this.note
    }
  },

  methods: {
    modifierNote () {
      this.$root.$emit('bv::show::modal', this.modalId)
    },
    changerNote: async function () {
      try {
        await axios.put(this.url, {
          id: this.id,
          note: this.noteLocal
        })
        this.$emit('noteModifiee', this.item.id, this.noteLocal)

      } catch (e) {
        // todo: ajouter un vform dans le modal et gérer l'erreur correctement.
        //  Pour l'instant si on entre >1000 char, ca va planter silencieusement
        console.log(e.response.data.errors.noteEtudiant[0])
      }
      this.resetModal()
    },
    resetModal () {
    }
  }
}

</script>
