<template>
  <div>
    <b-table
      :selectable="selectable"
      :select-mode="selectMode"
      @row-selected="onRowSelected"
      show-empty
      small
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filterIncludedFields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      sort-icon-left
      :busy="isBusy"
      :empty-text="$t('table_vide')"
      @filtered="onFiltered"
      caption-top
    >
      // template generique. Le parent de ce component doit fournir
      // des template et le tableau itemstemplate indiquant quel
      // template va avec quel colonne de la table fields
      // { key: 'nom de la Key Dans la table Fields', slotname: 'nom Du V-slot De La Template' }
      // Dans la template, pour accéder au champ de la ligne, il faut préfixer le nom de la structure
      // de donnée par "row.info.item.".
      // ex: si le json contient
      //    [{"application":{"id":3,"etat":"xyz",...
      // pour accéder à état, il faut écrire: "row.info.item.application.etat"

      <template v-for="item in itemstemplate" v-slot:[`cell(${item.key})`]="row">
        <slot :name="item.slotName" v-bind:info="row"></slot>
      </template>

      //L'info affichée si il y a une colonne pour afficher des détails.
      <template v-slot:row-details="row">
        <slot name="rowDetails" v-bind:info="row.item"></slot>
      </template>

      <template v-slot:table-caption>
        <b-button :title="$t('Rafraichir')"  @click="charger">
          <b-icon icon="arrow-clockwise" aria-hidden="true"></b-icon>
        </b-button>
        <b-button v-if="permetAjouter" :title="texteAjouter" @click="ajouter()">
          <b-icon icon="plus-square" aria-hidden="true"></b-icon>
        </b-button>
        {{tableCaption}}

      </template>

      <template v-slot:cell(actions)="row">
        <b-button-toolbar>
          <b-button-group class="mr-1">
            <b-button v-if="permetEffacer" :title="$t('Effacer')" :disabled= "!row.item.estEffacable" @click="confirmerEffacer(row.item, row.index, $event.target)">
              <b-icon icon="trash" aria-hidden="true"></b-icon>
            </b-button>
            <b-button  v-if="permetEditer" :title="$t('Editer')" :disabled= "!row.item.estEffacable">
              <b-icon icon="pencil-square" aria-hidden="true"></b-icon>
            </b-button>
          </b-button-group>
        </b-button-toolbar>
      </template>
      <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle"></b-spinner>
          <strong>{{ $t('Chargement') }}</strong>
        </div>
      </template>
    </b-table>
    <!-- modal pour confirmer l'effacement d'une ligne -->
    <b-modal
      :id="effacerModal.id"
      :title="effacerModal.title"
      @hide="resetDeleteModal"
      @ok="effacer">
      <pre>{{ effacerModal.content }}</pre>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'TableGeneric',
  props: {
    'urlChargement': String,
    'urlEffacement': String,
    'urlAjout': String,
    'fields': Array,
    'texteAjouter': String,
    'tableCaption': String,
    'modalId': String,
    'permetAjouter':
        {
          type: Boolean,
          default: true
        },
    'permetEditer':
        {
          type: Boolean,
          default: false
        },
    'permetEffacer':
        {
          type: Boolean,
          default: true
        },
    'selectable':
        {
          type: Boolean,
          default: false
        },
    'selectMode':
        {
          type: String,
          default: 'single',
          validator: function (value) {
            return ['single', 'multi', 'range'].indexOf(value) !== -1
          }
        },
    itemstemplate: Array
  },
  data () {
    return {

      items: [],
      isBusy: true,
      totalRows: 1,
      currentPage: 1,
      perPage: 0,
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      effacerModal: {
        id: this.modalId.concat('effacer'),
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      },

    }
  },
  mounted () {
    this.totalRows = this.items.length
    this.charger()
  },
  methods: {

    // ======= Gestion des items =======
    async charger () {
      this.isBusy = true
      try {
        const { data } = await axios.get(this.urlChargement)
        this.items = data
      } catch (err) {
        // TODO gestion de l'erreur
        console.log(err)
      }
      this.isBusy = false
    },

    //Le bouton pour ajouter a été pesé. Transmet le message au parent.
    ajouter () {
      this.$emit('ajouter')
    },
    confirmerEffacer (item, index, button) {
      this.effacerModal.title = this.$t('ConfirmerEffacer')
      this.effacerModal.content = item.description
      this.effacerModal.itemId = item.id
      this.effacerModal.itemIndex = index
      this.$root.$emit('bv::show::modal', this.effacerModal.id, button)
    },
    async effacer  () {
      await axios.delete(this.urlEffacement.concat(this.effacerModal.itemId))
      this.items.splice(this.effacerModal.itemIndex, 1)
    },
    resetDeleteModal () {
      this.effacerModal.title = ''
      this.effacerModal.content = ''
    },

    // ======= Gestion des filtres =======
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },

    onRowSelected (items) {
      let ids = items.map(i => i.id)
      this.$emit('rowSelected', ids)
    }
  },
  watch: {
    urlChargement: function () {
      this.charger()
    }
  },

}
</script>
