<template>
  <div>
    <table-generic
      :url-chargement="urlChargement"
      ref="table"
      :url-effacement="urlEffacement"
      :url-ajout="urlAjout"
      :fields="fields"
      :texte-ajouter="texteAjouter"
      :table-caption="tableCaption"
      :modal-id="modalId"
      :selectable="selectable"
      :itemstemplate="itemsTemplate"
      @rowSelected="rowSelected"
      @ajouter="ajouter"
    >
      <template v-slot:slotPdf="row">
        <b-col sm="1">
          <telecharger-pdf
            :titre="row.info.item.nomFichier"
            url="/api/cv/pdf/"
            :id="row.info.item.id"
            :nom-fichier="row.info.item.nomFichier"
          />
        </b-col>
      </template>
    </table-generic>
    <!-- modal pour ajouter un nouvel item -->
    <modal-ajout-document
      :id="ajouterModal.modalId"
      :title="ajouterModal.title"
      :url="urlAjout"
      @ajoute="charger"
    ></modal-ajout-document>
  </div>
</template>
<script>
import tableGeneric from './tableGeneric'
import telechargerPdf from './telechargerPdf'
import modalAjoutDocument from './modalAjoutDocument'

export default {
  name: 'tableDocumentPdf',
  components: {
    tableGeneric,
    telechargerPdf,
    modalAjoutDocument
  },
  props: {
    texteAjouter: String,
    modalId: String,
    type: String,
    caption: String
  },
  data () {
    return {

      urlChargement: '/api/etudiant/'.concat(this.type).concat('s'),
      urlEffacement: '/api/etudiant/'.concat(this.type).concat('/effacer/'),
      urlAjout: '/api/etudiant/'.concat(this.type).concat('Ajouter'),
      selectable: true,
      tableCaption: this.caption,
      itemsTemplate: [
        { key: 'pdf', slotName: 'slotPdf' }
      ],
      fields: [
        { key: 'description', label: this.$t('Description'), sortable: true, class: 'text-left' },
        { key: 'pdf', label: this.$t('PDF') },
        { key: 'actions', label: this.$tc('Action', 2) }
      ],

      ajouterModal: {
        modalId: this.modalId.concat('ajouter'),
        title: this.texteAjouter,
        content: ''
      }
    }
  },
  methods: {
    rowSelected (items) {
      this.$emit('rowSelected', items)
    },
    charger () {
      this.$refs.table.charger()
    },
    ajouter () {
      this.$root.$emit('bv::show::modal', this.ajouterModal.modalId)
    }
  }
}
</script>
