<template>
  <b-button  :title="titre" @click="telechargerPdf()">
    <b-icon icon="download" aria-hidden="true"></b-icon>
  </b-button>
</template>

<script>
import axios from 'axios'
export default {
  props: {
    'titre': String,
    'url': String,
    'id': Number,
    'nomFichier': String,
  },
  methods: {
    async telechargerPdf () {
      const { data } = await axios.get(this.url.concat(this.id), { responseType: 'blob' })
      var fileURL = window.URL.createObjectURL(new Blob([data]))
      var fileLink = document.createElement('a')
      fileLink.href = fileURL
      fileLink.setAttribute('download', this.nomFichier)
      document.body.appendChild(fileLink)
      fileLink.click()
    }
  }
}

</script>
