<template>
  <card >
    <editor-menu-bar v-if="editable" :editor="editor" v-slot="{ commands, isActive }">
      <div class="menubar">

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.bold() }"
          @click="commands.bold"
          variant="light"
          size="sm"
        >
          <fa icon= "bold" fixed-width />
        </b-button>

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.italic() }"
          @click="commands.italic"
          variant="light"
          size="sm"
        >
          <fa icon= "italic" fixed-width />
        </b-button>

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.underline() }"
          @click="commands.underline"
          variant="light"
          size="sm"
        >
          <fa icon= "underline" fixed-width />
        </b-button>

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 1 }) }"
          @click="commands.heading({ level: 1 })"
          variant="light"
          size="sm"
        >
          H1
        </b-button>
        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 2 }) }"
          @click="commands.heading({ level: 2 })"
          variant="light"
          size="sm"
        >
          H2
        </b-button>
        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.heading({ level: 3 }) }"
          @click="commands.heading({ level: 3 })"
          variant="light"
          size="sm"
        >
          H3
        </b-button>

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.bullet_list() }"
          @click="commands.bullet_list"
          variant="light"
          size="sm"
        >
          <fa icon= "list-ul" fixed-width />
        </b-button>

        <b-button
          class="menubar__button"
          :class="{ 'is-active': isActive.ordered_list() }"
          @click="commands.ordered_list"
          variant="light"
          size="sm"
        >
          <fa icon= "list-ol" fixed-width />
        </b-button>
        <b-button
          class="menubar__button"
          @click="commands.horizontal_rule"
          variant="light"
          size="sm"
        >
          -
        </b-button>

        <b-button
          class="menubar__button"
          @click="commands.undo"
          variant="light"
          size="sm"
        >
          <fa icon= "undo" fixed-width />
        </b-button>

        <b-button
          class="menubar__button"
          @click="commands.redo"
          variant="light"
          size="sm"
        >
          <fa icon= "redo" fixed-width />
        </b-button>

      </div>
    </editor-menu-bar>

    <editor-content class="editor__content" :editor="editor" />
  </card>
</template>

<script>
import { Editor, EditorContent, EditorMenuBar } from 'tiptap'
import {
  Blockquote,
  CodeBlock,
  HardBreak,
  Heading,
  HorizontalRule,
  OrderedList,
  BulletList,
  ListItem,
  TodoItem,
  TodoList,
  Bold,
  Code,
  Italic,
  Link,
  Strike,
  Underline,
  History,
} from 'tiptap-extensions'

export default {
  name: 'TiptapEditor',
  components: {
    EditorContent,
    EditorMenuBar,
  },
  props: {
    'value': String,
    'editable': {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      editor: new Editor({
        extensions: [
          new Blockquote(),
          new BulletList(),
          new CodeBlock(),
          new HardBreak(),
          new Heading({ levels: [1, 2, 3] }),
          new HorizontalRule(),
          new ListItem(),
          new OrderedList(),
          new TodoItem(),
          new TodoList(),
          new Link(),
          new Bold(),
          new Code(),
          new Italic(),
          new Strike(),
          new Underline(),
          new History(),
        ],
        content: this.value,
        editable: this.editable,
        onUpdate: ({ getHTML }) => {
          this.emitAfterOnUpdate = true
          this.$emit('input', getHTML())
        },
      })
    }
  },
  beforeDestroy () {
    if (this.editor) this.editor.destroy()
  },

  watch: {
    editable (val) {
      this.editor.setOptions({ 'editable': this.editable })
    },
    value (val) {
      if (this.emitAfterOnUpdate) {
        this.emitAfterOnUpdate = false
        return
      }
      if (this.editor) this.editor.setContent(val)
    }
  }
}
</script>
