<template>
  <table-generic
    :url-chargement="urlChargementLocal"
    url-effacement=""
    :fields="fields"
    texte-ajouter=""
    modal-id="modal_supervision"
    :table-caption="$tc('Application',2)"
    :permetEditer= false
    :permetEffacer=false
    :permetAjouter=false
    ref="applications"
    :selectable=false
    :itemstemplate="itemstemplate"

  >
    <template v-slot:slotLettre="row">
      <b-col sm="1">
        <telecharger-pdf
          :titre="row.info.item.application.lettre.nomFichier"
          url="/api/lettre/pdf/"
          :id="row.info.item.application.lettre.id"
          :nom-fichier="row.info.item.application.lettre.nomFichier"
        />
      </b-col>
    </template>
    <template v-slot:slotCV="row">
      <b-col sm="1">
        <telecharger-pdf
          :titre="row.info.item.application.cv.nomFichier"
          url="/api/cv/pdf/"
          :id="row.info.item.application.cv.id"
          :nom-fichier="row.info.item.application.cv.nomFichier"
        />
      </b-col>
    </template>
    <template v-slot:slotAction="row">
      <b-col sm="1" lg="1">
        <modifier-note
          :titre="$t('Modifier_note')"
          url="/api/contact/modifierNoteApplication"
          :item="row.info.item"
          :id="row.info.item.application.id"
          :note="row.info.item.application.note.contact"
          @noteModifiee="majNote"
        ></modifier-note>
      </b-col>
    </template>
  </table-generic>

</template>

<script>
import TableGeneric from '../helpers/tableGeneric'
import telechargerPdf from '../helpers/telechargerPdf'
import modifierNote from '../helpers/modifierNote'

export default {
  middleware: ['auth', 'contactEntreprise'],
  name: 'Applications',
  components: {
    TableGeneric,
    telechargerPdf,
    modifierNote,
  },
  props: {
    'id': { type: [ String, Number ] }// L'id de l'offre à afficher
  },
  data () {
    return {
      itemstemplate: [
        { key: 'lettre', slotName: 'slotLettre' },
        { key: 'cv', slotName: 'slotCV' },
        { key: 'action', slotName: 'slotAction' }
      ],
      fields: [
        { key: 'etudiant.role.numero', label: this.$t('numéro_etudiant'), sortable: true, class: 'text-left' },
        { key: 'etudiant.prenom', label: this.$t('prenom'), sortable: true, class: 'text-left' },
        { key: 'etudiant.name', label: this.$t('name'), sortable: true, class: 'text-left' },
        { key: 'application.etat', label: this.$t('État'), sortable: true, class: 'text-left' },
        { key: 'lettre', label: this.$t('Lettre') },
        { key: 'cv', label: this.$tc('CV', 1) },
        { key: 'application.note.contact', label: this.$tc('Commentaire', 1) },
        { key: 'action', label: this.$tc('Action', 2) }

      ]
    }
  },
  mounted () {
    this.chargerApplications()
  },
  computed: {
    urlChargementLocal () {
      return '/api/contact/offre/'.concat(this.id, '/applications')
    }
  },

  methods: {
    chargerApplications () {
      this.$refs.applications.charger()
    },
    majNote (item, note) {
      this.$refs.applications.charger()

    }
  }
}
</script>
