<template>
  <div>
    <b-container fluid>
      <b-form @submit.prevent="sauvegarder" >
        <!-- Bouton Éditer-->
        <b-button v-if="localCruMode=='R'" :title="$t('Editer')" @click="mettreEnModeModifier">
          <b-icon icon="pencil-square" aria-hidden="true" />
        </b-button>
        <!-- Titre -->
        <b-form-group
          id="input-titre"
          :label="$t('Titre')"
          label-for="titre"
        >
          <b-form-input
            id="titre"
            v-model="form.titre"
            type="text"
            :placeholder="$t('entrer_titre')"
            required
            :readonly="readOnly"
          />
        </b-form-group>

        <!-- Description -->
        <b-form-group
          id="input-description"
          :label="$t('Description')"
          label-for="description"
        >
          <tiptap-editor :value="form.description" @input="updateDescription" :editable="!readOnly"></tiptap-editor>
          <b-form-invalid-feedback :state="valideDescription">
            {{ $t('erreur_description_longueur') }}
          </b-form-invalid-feedback>
        </b-form-group>
        <i>{{$t('msg_description_ou_pdf')}}</i>
        <!-- PDF -->
        <b-form-group
          id="input-pdf"
          :label="$t('PDF')"
          label-for="pdf"
        >
          <telecharger-pdf
            v-if="localCruMode=='R' && form.nomFichier"
            :titre="form.nomFichier"
            url="/api/offre/pdf/"
            :id="form.id"
            :nom-fichier="form.nomFichier"
          />
          <p v-if="localCruMode=='R' && !form.nomFichier">{{$t('aucun_pdf')}}</p>
          <p v-if="localCruMode=='U' && form.nomFichier">{{form.nomFichier}}</p>
          <b-form-file
            v-if="localCruMode!='R'"
            accept="application/pdf"
            v-model="form.fichier"
            :placeholder="$t('Choisir_fichier_ou_deposer')"
            :drop-placeholder="$t('Déposer_un_fichier_ici')"
            :browse-text="$t('Naviguer')"
            :readonly="readOnly"
          ></b-form-file>
        </b-form-group>
        <b-row>
          <b-col lg="3" class="my-1">
            <!-- État -->
            <b-form-group
              id="input-etat"
              :label="$t('État')"
              label-for="etat"
            >
              <b-form-select
                id="etat"
                v-model="form.etat_id"
                :options="listeEtats"
                value-field="id"
                text-field="nom"
                required
                :disabled="readOnly"
              />
            </b-form-group>
          </b-col>
          <b-col lg="3" class="my-1">
            <!-- Programme -->
            <b-form-group
              id="input-programme"
              :label="$t('Programme')"
              label-for="programme"
            >
              <b-form-select
                id="programme"
                v-model="form.programme_id"
                :options="listeProgrammes"
                value-field="id"
                text-field="nom"
                required
                :disabled="readOnly"
              />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col lg="3" class="my-1">
            <!-- Session -->
            <b-form-group
              id="input-session"
              :label="$t('Session')"
              label-for="session_id"
            >
              <b-form-select
                id="session_id"
                v-model="form.session_id"
                :options="listeSessions"
                value-field="id"
                text-field="nom"
                required
                :disabled="readOnly"
                @change="trouveDateSessionCourante"
              />
            </b-form-group>
          </b-col>
          <b-col lg="3" class="my-1">
          <!-- Date de début -->
            <b-form-group
              id="input-debut"
              :label="$t('Date_Début')"
              label-for="debut"
            >
              <b-form-datepicker
                id="debut"
                v-model="form.debut"
                type="date"
                :state="validationDebut"
                :min="dateAujourdhui"
                :placeholder="$t('choisir_date')"
                class="mb-2"
                required
                :readonly="readOnly"
              />
            </b-form-group>
          </b-col>
          <b-col lg="3" class="my-1">
            <!-- Date de fin -->
            <b-form-group
              id="input-fin"
              :label="$t('Date_Fin')"
              label-for="fin"
            >
              <b-form-datepicker
                id="fin"
                v-model="form.fin"
                type="date"
                :state="validationFin"
                :min="dateAujourdhui"
                :placeholder="$t('choisir_date')"
                class="mb-2"
                required
                :readonly="readOnly"
              />
              <b-form-invalid-feedback :state="validationFin">
                {{ $t('error_date_supérieur') }}
              </b-form-invalid-feedback>
            </b-form-group>
          </b-col>
        </b-row>
        <!-- Bouton  d'enregistrement-->
        <b-button :hidden="localCruMode==='R'" type="submit" variant="primary">
          {{ $t(this.buttonText) }}
        </b-button>
      </b-form>
    </b-container>
    <b-modal ref="bv-modal-contactPasApprouve" hide-header hide-footer no-close-on-backdrop>
      <div class="d-block text-center">
        <p>{{ $t('contact_pas_approuvé_l1')}}</p>
        <b>{{ $t('contact_pas_approuvé_l2')}}</b>
      </div>
      <b-button class="mt-3" block @click="fermerModalPasApprouve">{{$t('ok')}}</b-button>
    </b-modal>
  </div>
</template>

<script>
import Form from 'vform'
import axios from 'axios'
import TiptapEditor from '../../components/TiptapEditor'
import telechargerPdf from '../helpers/telechargerPdf'
import { mapGetters } from 'vuex'

export default {
  name: 'FormOffre',
  props: {
    'id': { type: [String, Number] }, // l'id de l'offre à afficher
    'urlSauvegarde': String, // Url pour la sauvegarde du form
    'cruMode': // Le mode C = create, R = read et U = update
        {
          type: String,
          required: true,
          validator: function (value) {
            return ['C', 'R', 'U'].indexOf(value) !== -1
          }
        }
  },
  data () {
    return {
      offreSelectionne: null,
      form: new Form({ // Champs du formulaire d'une Offre
        id: '',
        titre: '',
        description: ' ',
        etat_id: '',
        session_id: '',
        debut: '',
        fin: '',
        nomFichier: '',
        fichier: null,
        programme_id: '',
      }),
      listeSessions: [], // La liste de sessions
      listeEtats: [], // La liste des états ouvert
      listeProgrammes: [], // La liste des programmes
      dateAujourdhui: '', // La date d'aujourd'hui
      sessionChoisi: '', // La session choisi par l'utilisateur dans le form
      buttonText: '', // Texte qui apparait sur le bouton du form
      readOnly: null, // Champs du form en readonly
      localCruMode: this.cruMode, // Reprend le cruMode de props pour changer le mode du formulaire
    }
  },

  computed: {
    ...mapGetters({
      user: 'auth/user',
    }),
    // Validation pour le champs fin du formulaire
    validationFin () {
      return this.form.fin !== '' && this.form.debut < this.form.fin
    },
    // Validation pour le champs debut du formulaire
    validationDebut () {
      return this.form.debut !== ''
    },
    // Validation du champs description du formulaire
    valideDescription () {
      // TODO ce n'est pas vraiment le texte, c'est la taille du texte+les balises html.
      // Si on change pour du json, on pourrait aller chercher la taille de chaque paragraphe
      // mais ca ne serait pas la taille de l'objet a stocker dans la bd.
      return this.form.description ? this.form.description.length <= 10000 : true
    }
  },

  // Fonctions devant être appelées au début du chargement de la page
  mounted () {
    if (this.id) {
      this.chargeOffre()
    }
    this.chargeSessions()
    this.chargeEtats()
    this.chargeProgrammes()
    this.trouveDateActuelle()
    this.gererMode()
  },

  methods: {
    async chargeOffre () {
      try {
        const { data } = await axios.get('/api/offre/json/'.concat(this.id))
        this.offreSelectionne = data
        this.chargeOffreSelectionne()
      } catch (err) {
        console.log(err)
      }
    },
    // Set les champs du formulaire à l'offreSelectionne, Voir app/Http/Resources/OffreResource
    chargeOffreSelectionne () {
      if (this.offreSelectionne != null) {
        this.form.id = this.offreSelectionne.id
        this.form.titre = this.offreSelectionne.titre
        if (this.offreSelectionne.description) {
          this.form.description = this.offreSelectionne.description
        } else {
          // si c'est null, tiptap afficherait la chaine de caractères 'null', je convertie donc à ''
          this.form.description = ''
        }
        this.form.etat_id = this.offreSelectionne.etat_id
        this.form.session_id = this.offreSelectionne.sessionId
        this.form.debut = this.offreSelectionne.debut
        this.form.fin = this.offreSelectionne.fin
        this.form.programme_id = this.offreSelectionne.programme_id
        this.form.nomFichier = this.offreSelectionne.nomFichier
      }
    },

    // Sauvegarde les infos du formulaire
    sauvegarder () {
      if (!this.user.role.approuve) {
        this.afficherModalPasApprouve()
      } else {
        this.sauvegarder2()
      }
    },
    async sauvegarder2 () {
      const formData = new FormData()
      // Si on utilise form.post, le fichier n'est pas transféré.
      // La seule facon que j'ai trouvé c'est de batir le formData manuellement
      // await this.form.post(this.urlSauvegarde)
      if (this.form.fichier) {
        formData.append('fichier', this.form.fichier, this.form.fichier.name)
      }
      formData.append('titre', this.form.titre)
      formData.append('description', this.form.description)
      formData.append('etat_id', this.form.etat_id)
      formData.append('session_id', this.form.session_id)
      formData.append('debut', this.form.debut)
      formData.append('fin', this.form.fin)
      formData.append('programme_id', this.form.programme_id)
      // nomFichier sera extrait de fichier

      try {
        await axios.post(this.urlSauvegarde, formData)
      } catch (e) {
        console.log(e.response.data.errors)
      } finally {
        this.$router.go(-1)
      }
    },

    // Mopifie les variables pour être en mode Modifier
    mettreEnModeModifier () {
      this.buttonText = 'Modifier'
      this.readOnly = false
      this.localCruMode = 'U'
    },

    // Charge et set la liste des états actifs
    async chargeEtats () {
      const { data } = await axios.get('/api/etats/lister/actifs')
      this.listeEtats = data
      if (!this.offreSelectionne) {
        this.form.etat_id = this.listeEtats[0].id
      }
    },

    // Charge et set la liste des programmes
    async chargeProgrammes () {
      const { data } = await axios.get('/api/programmes/lister')
      this.listeProgrammes = data
      if (!this.offreSelectionne) {
        this.form.programme_id = this.listeProgrammes[0].id
      }
    },

    // Charge et set la liste des sessions
    chargeSessions () {
      this.listeSessions = this.$store.getters['sessionScholaire/sessionsScholaires']
      if (!this.offreSelectionne) {
        this.form.session_id = this.$store.getters['sessionScholaire/sessionCourante'].id
        this.trouveDateSessionCourante()
      }
    },

    // Set la date d'aujourd'hui
    trouveDateActuelle () {
      const now = new Date()
      this.dateAujourdhui = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    },

    // Set les dates de fin et debut de la session choisi
    trouveDateSessionCourante () {
      if (this.form.session_id !== '') {
        this.sessionChoisi = this.listeSessions.find(x => x.id === this.form.session_id, this)
        this.form.debut = this.sessionChoisi.debut
        this.form.fin = this.sessionChoisi.fin
      }
    },

    // Gère le mode du formulaire
    gererMode () {
      if (this.localCruMode === 'C') {
        this.buttonText = 'register'
        this.readOnly = false
      } else if (this.localCruMode === 'R') {
        this.readOnly = true
      }
    },
    updateDescription (value) {
      this.form.description = value
    },
    afficherModalPasApprouve () {
      this.$refs['bv-modal-contactPasApprouve'].show()
    },
    fermerModalPasApprouve () {
      this.$refs['bv-modal-contactPasApprouve'].hide()
      this.sauvegarder2()
    }
  },
  components: {
    TiptapEditor,
    telechargerPdf
  }
}
</script>
<style scoped></style>
