<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card :title="$t('Offre_ajouter')">
        <formOffre
          :cru-mode="cruMode"
          :url-sauvegarde="urlSauvegarde"
        />
      </card>
    </div>
  </div>
</template>

<script>

import formOffre from './formOffre'

export default {
  middleware: ['auth', 'contactEntreprise'],
  name: 'OffreC',
  components: {
    formOffre
  },
  data () {
    return {
      cruMode: '',
      urlChargement: '',
    }
  },
  created: function () {
    this.setData()
  },
  methods: {
    setData () {
      this.cruMode = 'C'
      this.urlSauvegarde = '/api/offre/create'
    }
  }
}
</script>

<style scoped>

</style>
