<template>
  <div class="row">
    <div class="col-lg-8 m-auto">
      <card>
        <formOffre
          :cru-mode="cruMode"
          :url-sauvegarde="urlSauvegarde"
          :id="id"
        />
      </card>
    </div>
  </div>
</template>

<script>

import formOffre from './formOffre'

export default {
  middleware: ['auth', 'contactEntreprise'],
  name: 'OffreRU',
  components: {
    formOffre
  },
  props: {
    'id': { type: [ String, Number ] }// L'id de l'offre à afficher
  },
  data () {
    return {
      titre: '',
      urlSauvegarde: '/api/offre/update/'.concat(this.id),
      cruMode: 'R'

    }
  },
}
</script>

<style scoped>

</style>
