<template>
  <b-form @submit.prevent="sauvegarder" validated>
    <b-form-group
      id="input-entreprise"
      :label="$t('Entreprise')"
      label-for="entreprise">

      <b-form-select
        id="entreprise"
        v-model="entrepriseSelectionneeId"
        :options="listeEntreprises"
        value-field="id"
        text-field="nom"
        @change="changerEntreprise"
      ></b-form-select>
    </b-form-group>
    <b-form @submit.prevent="sauvegarder" validated>
      <b-form-group
        id="input-nom"
        :label= "$t('name')"
        label-for="nom">
        <b-form-input
          id="nom"
          v-model="form.nom"
          type="text"
          :placeholder="$t('entrer_nom')"
          required
          :readonly="readOnly">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="input-telephone"
        :label= "$t('telephone')"
        label-for="telephone"
      >
        <b-form-input
          id="telephone"
          v-model="form.telephone"
          type="text"
          :placeholder="$t('entrer_telephone')"
          :readonly="readOnly"
        ></b-form-input>
      </b-form-group>
      <b-form-group
        id="input-description"
        :label= "$t('Description')"
        label-for="description">
        <b-form-input
          id="description"
          v-model="form.description"
          type="text"
          :placeholder="$t('entrer_description')"
          :readonly="readOnly">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="input-url"
        :label= "$t('url')"
        label-for="url">
        <b-form-input
          id="url"
          v-model="form.url"
          type="text"
          :placeholder="$t('entrer_url')"
          :readonly="readOnly">
        </b-form-input>
      </b-form-group>
      <b-form-group
        id="input-code"
        :label= "$t('code_acces')"
        label-for="code">
        <b-form-input
          id="code"
          v-model="form.codeAcces"
          type="text"
          :placeholder="$t('entrer_code_acces_entreprise')"
          required
          :readonly="readOnly">
        </b-form-input>
      </b-form-group>
      <b-button :title="$t('cancel')" @click="annuler">
        {{$t('cancel')}}
      </b-button>
      <b-button type="submit" :title="$t('Sauvegarder')"  variant="success">
        {{$t('Sauvegarder')}}
      </b-button>
    </b-form>
    <!-- modal pour entrer le code d'acces de l'entreprise -->
    <modal-code-acces-entreprise
      :id="codeAccesmodalId"
      :title="$t('entrer_code_acces_entreprise')"
      :nomEntreprise="codeAccesModal.nomEntreprise"
      :codeAcces="codeAccesModal.code"
      @associer="associerEntreprise"
      @annuler="resetEntreprise"
    ></modal-code-acces-entreprise>
  </b-form>

</template>

<script>
/**
 * Composant permettant à un contact de s'associer à une entreprise
 * Le contact peut choisir une entreprise existante ou en créer une nouvelle.
 * S'il choisit une entreprise existante, il doit fournir le code d'accès associé à celle-ci.
 * Ce code d'accès est associé à l'entreprise lors de sa création.
 * Ce code d'accès n'est pas encrypté pour le moment. Il est stocké en clair dans la bd.
 * Un contact désirant obtenir ce code doit le demander à un autre membre de cette entreprise.
 */
import axios from 'axios'
import { mapGetters } from 'vuex'
import Form from 'vform'
import modalCodeAccesEntreprise from './modalCodeAccesEntreprise'

export default {
  name: 'AssociationContactEntreprise',
  middleware: ['auth', 'contact'],
  data () {
    return {
      form: new Form({
        nom: '',
        telephone: '',
        description: '',
        url: '',
        codeAcces: ''
      }),
      entrepriseAssocieeId: 0, // l'id de l'entreprise associée au contact dans la bd. 0 si aucune entreprise associée
      readOnly: false,
      listeEntreprises: [], // Toutes les entreprises existantes
      entrepriseSelectionneeId: 0, // L'id de l'entreprise choisie dans la liste des toutes les entreprises
      codeAccesmodalId: 'modal-choisir-entreprise',
      codeAccesModal: { // Les champs pour le modal permettant de fournir le code d'accès d'une entreprise
        nomEntreprise: '',
        code: ''
      }
    }
  },
  props: {
  },
  computed: {
    ...mapGetters({
      user: 'auth/user'
    })
  },
  mounted () {
    this.chargerEntreprises()
    this.charger()
  },
  methods: {
    /**
     * Chargement de la liste des entreprises disponibles.
     * @returns {Promise<void>}
     */
    async chargerEntreprises () {
      const { data } = await axios.get('/api/entreprises')
      this.listeEntreprises =
          [
            { id: 0, nom: this.$t('creer_nouvelle_entreprise'), codeAccess: '' }
          ].concat(data)
    },
    /**
     * Chargement de l'entreprise présentement associée au contact.
     * Si aucune entreprise n'est associée, l'option pour créer une nouvelle entreprise sera sélectionnée.
     *
     * @returns {Promise<void>}
     */
    async charger () {
      try {
        const { data } = await axios.get('/api/contact/entreprise')
        if (data === '') {
          // il n'y pas d'entreprise associée, il faut en associer une.
          this.entrepriseAssocieeId = 0
          this.viderFormulaire()
          this.entrepriseSelectionneeId = 0
        } else {
          this.entrepriseSelectionneeId = data.id
          this.associerEntreprise()
        }
      } catch (e) {
        console.log(e.response.data.errors.noteEtudiant[0])
      }
    },
    /**
     * Affiche le détail de l'entreprise sélectionnée et l'associe au contact
     */
    associerEntreprise () {
      const entrepriseChoisie = this.listeEntreprises.find(x => x.id === this.entrepriseSelectionneeId, this)
      this.entrepriseAssocieeId = entrepriseChoisie.id
      this.form.nom = entrepriseChoisie.nom
      this.form.telephone = entrepriseChoisie.telephone
      this.form.description = entrepriseChoisie.description
      this.form.url = entrepriseChoisie.url
      this.form.codeAcces = entrepriseChoisie.codeAcces
    },
    /**
     * Vide le formulaire.
     */
    viderFormulaire () {
      this.form.nom = ''
      this.form.telephone = ''
      this.form.description = ''
      this.form.url = ''
      this.form.codeAcces = ''
    },
    /**
     * Le contact a changé l'entreprise dans la liste.
     * Il doit fournir le code d'accès dans le modal qui apparait
     */
    changerEntreprise () {
      if (this.entrepriseSelectionneeId === 0) { // l'option pour créer une nouvelle entreprise
        this.viderFormulaire()
      } else {
        const entrepriseChoisie = this.listeEntreprises.find(x => x.id === this.entrepriseSelectionneeId, this)
        this.codeAccesModal.code = entrepriseChoisie.codeAcces
        this.codeAccesModal.nomEntreprise = entrepriseChoisie.nom
        this.$root.$emit('bv::show::modal', this.codeAccesmodalId)
      }
    },
    /**
     * Sauvegarde de l'entreprise choisie.
     * Ce formulaire permet de changer une entreprise existante, c'est pourquoi toute l'info sur l'entreprise
     * est transférée.
     *
     * @returns {Promise<void>}
     */
    async sauvegarder () {
      try {
        await axios.post('/api/entreprise/majOuCreation', {
          id: this.entrepriseSelectionneeId,
          nom: this.form.nom,
          telephone: this.form.telephone,
          description: this.form.description,
          url: this.form.url,
          codeAcces: this.form.codeAcces,
          contactId: this.user.role.id
        })
        // reload le user pour reseter le flag associeAEntreprise
        await this.$store.dispatch('auth/fetchUser')
        this.viderFormulaire()
        this.$router.push('/contact/home')
      } catch (e) {
        console.log(e)
      }
    },
    annuler () {
      this.viderFormulaire()
      this.$router.push('/contact/home')
    },
    resetEntreprise () {
      this.entrepriseSelectionneeId = this.entrepriseAssocieeId
    }
  },
  components: {
    modalCodeAccesEntreprise
  }
}

</script>
