<template>
  <b-container fluid>
    <!-- User Interface controls -->
    <b-row>
      <b-col lg="1" class="my-1">
        <b-button :title="$t('Offre_ajouter')" @click="ajouterOffre()">
          <b-icon icon="plus-square" aria-hidden="true" />
        </b-button>
      </b-col>
      <b-col lg="3" class="my-1">
        <b-form-group
          :label="$t('Filtre')"
          label-cols-sm="1"
          label-align-sm="left"
          label-size="sm"
          label-for="filterInput"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-input
              id="filterInput"
              v-model="filter"
              type="search"
              :placeholder="$t('Écrire_pour_rechercher')"
            />
            <b-input-group-append>
              <b-button :disabled="!filter" @click="filter = ''">
                {{ $t('Vider') }}
              </b-button>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>

      <b-col lg="4" class="my-1">
        <b-form-group
          :label="$t('Filtrer_sur')"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          :description="$t('Laisser_vide_pour_filtrer_sur_tout')"
          class="mb-0"
        >
          <b-form-checkbox-group v-model="filterOn" class="mt-1">
            <b-form-checkbox value="contact">
              {{ $t('Contact') }}
            </b-form-checkbox>
            <b-form-checkbox value="description">
              {{ $t('Description') }}
            </b-form-checkbox>
            <b-form-checkbox value="programme">
              {{ $t('Programme') }}
            </b-form-checkbox>
            <b-form-checkbox value="etat">
              {{ $t('État') }}
            </b-form-checkbox>
          </b-form-checkbox-group>
        </b-form-group>
      </b-col>
      <b-col sm="4" md="3" lg="2" xl="1" class="my-1">
        <b-form-select v-model="sessionSelectedPourFiltre"
                       :options="sessionsPourFiltre"
                       value-field="id"
                       text-field="nom"
                       @change="chargeOffres"
        />
      </b-col>
      <b-form-checkbox v-model="inclureEntreprise" name="check-button" switch @input="chargeOffres">
        {{ $t("inclure_entreprise") }}
      </b-form-checkbox>
    </b-row>

    <!-- Main table element -->
    <b-table
      show-empty
      small
      stacked="md"
      :items="items"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      sort-icon-left
      :busy="isBusy"
      :empty-text="$t('table_vide')"
      @filtered="onFiltered"
    >
      <template v-slot:cell(contact)="row">
        {{ row.value.prenom }} {{ row.value.name }}
      </template>

      <template v-slot:cell(actions)="row">
        <b-button-toolbar>
          <b-button-group class="mr-1">
            <b-button :title="$t('Effacer')" @click="confirmerEffacerOffre(row.item, row.index, $event.target)">
              <b-icon icon="trash" aria-hidden="true" />
            </b-button>
            <b-button :title="$t('Show')" @click="detailOffre(row.item)">
              <b-icon icon="eye" aria-hidden="true" />
            </b-button>
            <b-button :title="$tc('application', row.item.nombreApplications)" @click="afficherApplications(row.item, row.index, $event.target)">
              <b-badge variant="light">
                {{ row.item.nombreApplications }}
              </b-badge><b-icon icon="person-lines-fill" aria-hidden="true" />
            </b-button>
            <b-button v-if="user.role.approuve==true" :title="$t('Transférer_à_autre_contact')" @click="transfererOffre(row.item)">
              <b-icon icon="gift" aria-hidden="true" />
            </b-button>
          </b-button-group>
        </b-button-toolbar>

        <!--b-button size="sm" @click="row.toggleDetails">
            {{ row.detailsShowing ? $t('Hide') : $t('Show') }} {{ $t('les_détails')}}
          </b-button-->
      </template>

      <template v-slot:row-details="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">
              {{ key }}: {{ value }}
            </li>
          </ul>
        </b-card>
      </template>

      <template v-slot:table-busy>
        <div class="text-center text-danger my-2">
          <b-spinner class="align-middle" />
          <strong>{{ $t('Chargement') }}</strong>
        </div>
      </template>
    </b-table>

    <!-- delete modal -->
    <b-modal :id="deleteModal.id" :title="deleteModal.title" @hide="resetDeleteModal" @ok="effacerOffre">
      <pre>{{ deleteModal.content }}</pre>
    </b-modal>

    <b-row>
      <b-col sm="4" md="3" lg="5" />
      <b-col sm="4" md="3" lg="2" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        />
      </b-col>
    </b-row>
    <modal-transfert-offre
      modal-id="modalTransfertOffre"
      :offre="offreSelectionne"
      ref="modalTransfertOffre"
      ></modal-transfert-offre>
  </b-container>

</template>

<script>
import axios from 'axios'
import { mapGetters } from 'vuex'
import modalTransfertOffre from './modalTransfertOffre'

export default {
  middleware: ['auth', 'contactEntreprise'],

  components: {
    modalTransfertOffre
  },
  data () {
    return {
      items: [],
      fields: [],
      isBusy: true,
      totalRows: 1,
      currentPage: 1,
      perPage: 15,
      pageOptions: [5, 10, 15],
      sortBy: '',
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      filterOn: [],
      deleteModal: {
        id: 'delete-modal',
        title: '',
        content: '',
        itemId: '',
        itemIndex: ''
      },
      sessionSelectedPourFiltre: this.$store.getters['sessionScholaire/sessionCourante'].id,
      sessionsPourFiltre: this.$store.getters['sessionScholaire/sessionsScholaires'],
      inclureEntreprise: false,
      offreSelectionne: {
        id: '',
        titre: ''
      }
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key }
        })
    },
    ...mapGetters({
      user: 'auth/user',
    }),
  },
  mounted () {
    // Set the initial number of items
    this.totalRows = this.items.length
    this.chargeOffres()
  },
  methods: {
    // ======= Gestion des applications =======
    afficherApplications (item, index, button) {
      console.log(item.id)
      this.$router.push({ name: 'offre.applications', params: { 'id': item.id } })
    },
    // ======= Gestion des offres =======
    async chargeOffres () {
      this.fields = []
      if (this.inclureEntreprise) {
        this.fields = [
          { key: 'contact', label: this.$t('contact_nom'), sortable: true, sortDirection: 'desc' },
        ]
      }
      this.fields = this.fields.concat([
        { key: 'titre', label: this.$t('Titre'), sortable: true, class: 'text-left' },
        { key: 'programme', label: this.$t('Programme'), sortable: true, class: 'text-left' },
        { key: 'debut', label: this.$t('Début'), sortable: true, class: 'text-center' },
        { key: 'fin', label: this.$t('Fin'), sortable: true, class: 'text-center' },
        { key: 'etat', label: this.$t('État'), sortable: true, class: 'text-center' },
        { key: 'session', label: this.$t('Session'), sortable: true, class: 'text-center' },

        { key: 'actions', label: this.$tc('Action', 2) }
      ])
      this.isBusy = true
      let urlOffres = '/api/contact/offresPourSession/'
      if (this.inclureEntreprise) {
        urlOffres = '/api/entrepriseDeContact/offresPourSession/'
      }
      try {
        const { data } = await axios.get(urlOffres.concat(this.sessionSelectedPourFiltre))
        this.items = data
      } catch (err) {
        console.log(err)
      }
      this.isBusy = false
    },
    confirmerEffacerOffre (item, index, button) {
      this.deleteModal.title = this.$t('ConfirmerEffacer')
      this.deleteModal.content = item.titre
      this.deleteModal.itemId = item.id
      this.deleteModal.itemIndex = index
      this.$root.$emit('bv::show::modal', this.deleteModal.id, button)
    },
    ajouterOffre () {
      this.$router.push({ name: 'offre.create' })
    },
    detailOffre (item) {
      this.$router.push({ name: 'offre', params: { 'id': item.id } })
    },
    async effacerOffre () {
      await axios.delete('/api/offre/delete/'.concat(this.deleteModal.itemId))
      this.items.splice(this.deleteModal.itemIndex, 1)
    },
    transfererOffre (item) {
      console.log('transfert')
      this.offreSelectionne.id = item.id
      this.offreSelectionne.titre = item.titre
      this.$root.$emit('bv::show::modal', 'modalTransfertOffre')
    },
    resetDeleteModal () {
      this.deleteModal.title = ''
      this.deleteModal.content = ''
    },
    // ======= Gestion des filtres =======
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    }
  },
  metaInfo () {
    return { title: this.$t('Contact') }
  }

}
</script>
