<template>

      <transition name="fade" mode="out-in">
        <router-view />
      </transition>

</template>

<script>
export default {
  middleware: ['auth', 'contact'],
  computed: {
    navbarOptions () {
      return [
        {
          route: 'contact.home',
          nom: this.$t('go_home'),
          icon: 'home'
        },
        {
          route: 'contact.entreprise',
          nom: this.$t('Entreprise'),
          icon: 'building'
        }
      ]
    }
  },
  mounted () {
    this.$store.dispatch('auth/setNavbarOptions', {
      options: this.navbarOptions
    })
  },
}
</script>

<style>
.settings-card .card-body {
  padding: 0;
}
</style>
