<template>

  <div>
    <div v-if="locale=='fr'">
      <h1>Bienvenue en tant que nouveau contact</h1>
      <p>En tant que nouveau contact, vous devez commencer par indiquer l'entreprise pour laquelle vous désirez offrir des stages.</p>
      <p>Sur la page suivante, vous pourrez créer une nouvelle entreprise, ou en choisir une déjà existante.<br>
      Si vous choisissez une entreprise existante, vous devrez fournir un code d'accès.<br>
      Vous devez récupérez ce code d'accès auprès d'une personne déjà inscrite sur ce site et qui travaille pour cette entreprise.</p>
    <p>Une fois ce code fourni, les informations de l'entreprise seront affichées et vous pourrez les modifier.<br>
      Notez que ces informations sont communes pour tous les contacts de cette entreprise. <br>
      Si vous choisissez de créer une nouvelle entreprise, vous devrez fournir les informations de celle-ci, incluant un
      code d'accès.</p>
      <p><b>Très important:</b> Ce code d'accès n'est pas encrypté dans notre système.
        Il ne doit donc pas être un mot de passe que vous utilisez déjà.<br>
       Vous devrez partager ce code avec les autres contats de votre entreprise afin qu'ils puissent s'associer à votre entreprise.</p>
    </div>
    <div v-if="locale=='en'">
      TO BE TRANSLATED
    </div>
    <b-button :title="$t('ok')" @click="go" variant="success">
      {{$t('ok')}}
    </b-button>
  </div>

</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'InstructionEntreprise',
  middleware: ['auth', 'contact'],
  computed: mapGetters({
    locale: 'lang/locale'
  }),
  methods: {
    go () {
      this.$router.push('/contact/entreprise')
    }
  }
}
</script>
