<template>
  <b-modal :title="title" v-model="modalShow" :id="id" hide-footer size="lg" no-close-on-backdrop>
    <b-form @submit.prevent="verifierCode" validated>
      <b-form-group
        id="input-code"
        :label= "nomEntreprise"
        label-for="code"
        :description="$t('info_input_code_acces')"
      >
        <b-form-input
          id="code"
          v-model="codeAccesUsager"
          type="text"
          :placeholder="$t('entrer_code_acces_entreprise')">
        </b-form-input>
        <b-form-invalid-feedback :state="codeValide">
          {{$t('erreur_code_acces_invalide')}}
        </b-form-invalid-feedback>
      </b-form-group>
      <div>
        <b-button :title="$t('cancel')" @click="annuler">
          {{$t('cancel')}}
        </b-button>
        <b-button type="submit" :title="$t('ok')"  variant="success">
          {{$t('ok')}}
        </b-button>
      </div>
    </b-form>
  </b-modal>
</template>

<script>
export default {
  name: 'modalCodeAccesEntreprise',
  props: {
    'id': String,
    'title': String,
    'nomEntreprise': String,
    'codeAcces': String
  },
  data () {
    return {
      modalShow: false,
      codeAccesUsager: '',
      codeValide: true
    }
  },
  mounted () {
    this.codeAccesUsager = ''
  },
  methods: {
    verifierCode () {
      if (this.codeAccesUsager === this.codeAcces) {
        this.codeAccesUsager = ''
        this.$emit('associer')
        this.$root.$emit('bv::hide::modal', this.id)
      } else {
        this.codeValide = false
      }
    },
    annuler () {
      this.codeAccesUsager = ''
      this.$emit('annuler')
      this.$root.$emit('bv::hide::modal', this.id)
    }
  }
}
</script>
