<template>
  <b-modal :title="titre"  :id="modalId" hide-footer size="lg" no-close-on-backdrop>
    <b-container fluid>
      <b-row class="my-3">
        <b-col lg="3" >
        {{$t('Transférer')}}:
        </b-col>
        <b-col lg="3" >
        {{offre.titre}}
        </b-col>
      </b-row>
      <b-form @submit.prevent="transferer">
        <b-form-group
          id="input-contact"
          :label="$t('Choisir_un_contact')"
          label-for="contact"
        >
          <b-form-select
            id="contact"
            v-model="contactSelectionne"
            :options="listeContacts"
            value-field="role.id"
            text-field="prenom_nom"
            required
          />
        </b-form-group>
        <div>
          <b-button :title="$t('cancel')" @click="fermer">
            {{$t('cancel')}}
          </b-button>
          <b-button type="submit" :title="$t('Transférer')"  variant="success">
            {{$t('ok')}}
          </b-button>
        </div>
      </b-form>
    </b-container>
  </b-modal>
</template>

<script>
import axios from 'axios'
import Form from 'vform'

export default {
  name: 'ModalTransfertOffre',
  props: {
    titre:
        {
          type: String,
          default: 'Transférer_à_autre_contact'
        },
    offre: {},
    modalId: String,
  },
  data () {
    return {
      contactSelectionne: null,
      listeContacts: [],

    }
  },
  mounted () {
    this.chargeContacts()
  },
  methods: {
    async chargeContacts () {
      const { data } = await axios.get('/api/contact/autresContactsMemeEntreprise')
      this.listeContacts = data
      if (!this.contactSelectionne) {
        this.contactSelectionne = this.listeContacts[0].role.id
      }
    },
    async transferer () {
      await axios.post('/api/contact/transfererOffre', {
        offreId: this.offre.id,
        nouveauContactId: this.contactSelectionne
      }) //todo ajouter un catch
      this.fermer()
    },
    fermer () {
      this.$bvModal.hide(this.modalId)
    }
  }
}
</script>
