<template>
  <div class="main-layout">
    <navbar />

    <b-container fluid>
      <child />
    </b-container>
  </div>
</template>

<script>
import Navbar from '~/components/Navbar'

export default {
  name: 'MainLayout',

  components: {
    Navbar
  }
}
</script>
